<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7" xmlns:th="http://www.thymeleaf.org"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8" xmlns:th="http://www.thymeleaf.org"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9" xmlns:th="http://www.thymeleaf.org"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" xmlns:th="http://www.thymeleaf.org"> <!--<![endif]-->
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>Luxe &mdash; Contact Page</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="description" content="Contact us page" />
	<meta name="keywords" content="contact, hotels, responsive design" />


	<!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
	<link th:href="@{/favicon.ico}" rel="shortcut icon">

	<!-- Stylesheets -->
	<link th:href="@{/css/superfish.css}" rel="stylesheet">
	<link th:href="@{/css/bootstrap-datepicker.min.css}" rel="stylesheet">
	<link th:href="@{/css/cs-select.css}" rel="stylesheet">
	<link th:href="@{/css/cs-skin-border.css}" rel="stylesheet">
	<link th:href="@{/css/themify-icons.css}" rel="stylesheet">
	<link th:href="@{/css/flaticon.css}" rel="stylesheet">
	<link th:href="@{/css/icomoon.css}" rel="stylesheet">
	<link th:href="@{/css/flexslider.css}" rel="stylesheet">
	<link th:href="@{/css/style.css}" rel="stylesheet">

	<!-- Modernizr JS -->
	<script th:src="@{/js/modernizr-2.6.2.min.js}"></script>
	<!-- FOR IE9 below -->
	<!--[if lt IE 9]>
	<script th:src="@{/js/respond.min.js}"></script>
	<![endif]-->
</head>
<body>
<div id="fh5co-wrapper">
	<div id="fh5co-page">
		<div id="fh5co-header">
			<header id="fh5co-header-section">
				<div class="container">
					<div class="nav-header">
						<a href="#" class="js-fh5co-nav-toggle fh5co-nav-toggle"><i></i></a>
						<h1 id="fh5co-logo"><a th:href="@{/}">Luxe</a></h1>
						<nav id="fh5co-menu-wrap" role="navigation">
							<ul class="sf-menu" id="fh5co-primary-menu">
								<li><a class="active" th:href="@{/}">Home</a></li>
								<li>
									<a th:href="@{/hotel}" class="fh5co-sub-ddown">Hotel</a>
									<ul class="fh5co-sub-menu">
										<li th:if="${hotels != null and hotels.size() > 0}" th:each="hotel : ${hotels}">
											<a th:href="@{/hotel/{id}(id=${hotel.idHotel})}" th:text="${hotel.numeHotel}">Hotel Name</a>
										</li>
										<li th:if="${hotels == null or hotels.size() == 0}">
											<a href="#">No Hotels Available</a>
										</li>
									</ul>
								</li>
								<li><a th:href="@{/services}">Services</a></li>
								<li><a class="active" th:href="@{/contact}">Contact</a></li>
							</ul>
						</nav>
					</div>
				</div>
			</header>
		</div>
		<!-- end:fh5co-header -->
		<div class="fh5co-parallax" th:style="'background-image: url(' + @{/images/dubai.jpg} + ');'" data-stellar-background-ratio="0.5">
			<div class="overlay"></div>
			<div class="container">
				<div class="row">
					<div class="col-md-12 text-center fh5co-table">
						<div class="fh5co-intro fh5co-table-cell">
							<h1 class="text-center">Contact Us</h1>
						</div>
					</div>
				</div>
			</div>
		</div>

		<div id="fh5co-contact-section">
			<div class="container">
				<div class="row">
					<!-- Harta -->
					<div class="col-md-6">
						<div class="map-responsive">
							<iframe
									src="https://www.google.com/maps/embed/v1/place?key=AIzaSyD0of361f8_ChgCZ6kvZn3hEeTXFQ9fXMM&q=Bulevardul+Dimitrie+Pompeiu+126,+Bucuresti"
									height="350"
									style="border:0;"
									allowfullscreen=""
									loading="lazy"
									referrerpolicy="no-referrer-when-downgrade">
							</iframe>
						</div>
					</div>
					<!-- Our Address -->
					<div class="col-md-6">
						<h3>Our Address</h3>
						<p>Experience exceptional hospitality and comfort with Best Hotels, where every stay is crafted to perfection.</p>
						<ul class="contact-info">
							<li><i class="ti-map"></i>Bd. Dimitrie Pompeiu, nr. 126</li>
							<li><i class="ti-mobile"></i>+40732591440</li>
							<li><i class="ti-envelope"></i><a href="#">besthotels@yahoo.com</a></li>
							<li><i class="ti-home"></i><a href="#">www.besthotels.com</a></li>
						</ul>
					</div>
				</div>
			</div>
		</div>

	</div>
<!-- Javascripts -->
<script th:src="@{/js/jquery-2.1.4.min.js}"></script>
<script th:src="@{/js/hoverIntent.js}"></script>
<script th:src="@{/js/superfish.js}"></script>
<script th:src="@{/js/bootstrap.min.js}"></script>
<script th:src="@{/js/jquery.waypoints.min.js}"></script>
<script th:src="@{/js/jquery.countTo.js}"></script>
<script th:src="@{/js/jquery.stellar.min.js}"></script>
<script th:src="@{/js/bootstrap-datepicker.min.js}"></script>
<script th:src="@{/js/classie.js}"></script>
<script th:src="@{/js/selectFx.js}"></script>
<script th:src="@{/js/jquery.flexslider-min.js}"></script>
<script th:src="@{/js/custom.js}"></script>
</div>
</body>
</html>
