<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7" xmlns:th="http://www.thymeleaf.org"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8" xmlns:th="http://www.thymeleaf.org"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9" xmlns:th="http://www.thymeleaf.org"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js" xmlns:th="http://www.thymeleaf.org">
<!--<![endif]-->
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>Luxe &mdash; Home</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="description" content="Home page" />
	<meta name="keywords" content="hotel, responsive design" />
	<meta name="author" content="FREEHTML5.CO" />

	<link th:href="@{/favicon.ico}" rel="shortcut icon">


	<link th:href="@{/css/owl.carousel.css}" rel="stylesheet">
	<link th:href="@{/css/owl.theme.default.min.css}" rel="stylesheet">
	<link th:href="@{/css/superfish.css}" rel="stylesheet">
	<link th:href="@{/css/bootstrap-datepicker.min.css}" rel="stylesheet">
	<link th:href="@{/css/cs-select.css}" rel="stylesheet">
	<link th:href="@{/css/cs-skin-border.css}" rel="stylesheet">
	<link th:href="@{/css/themify-icons.css}" rel="stylesheet">
	<link th:href="@{/css/flaticon.css}" rel="stylesheet">
	<link th:href="@{/css/icomoon.css}" rel="stylesheet">
	<link th:href="@{/css/style.css}" rel="stylesheet">
	<!-- Modernizr JS -->
	<script th:src="@{/js/modernizr-2.6.2.min.js}"></script>
	<!-- FOR IE9 below -->
	<!--[if lt IE 9]>
	<script th:src="@{/js/respond.min.js}"></script>
	<![endif]-->
</head>
<body>
<div id="fh5co-wrapper">
	<div id="fh5co-page">
		<div id="fh5co-header">
			<header id="fh5co-header-section">
				<div class="container">
					<div class="nav-header">
						<a href="#" class="js-fh5co-nav-toggle fh5co-nav-toggle"><i></i></a>
						<h1 id="fh5co-logo"><a th:href="@{/}">Luxe</a></h1>
						<nav id="fh5co-menu-wrap" role="navigation">
							<ul class="sf-menu" id="fh5co-primary-menu">
								<li><a class="active" th:href="@{/}">Home</a></li>
								<li>
									<a th:href="@{/hotel}" class="fh5co-sub-ddown">Hotel</a>
									<ul class="fh5co-sub-menu">
										<li th:if="${hotels != null and hotels.size() > 0}" th:each="hotel : ${hotels}">
											<a th:href="@{/hotel/{id}(id=${hotel.idHotel})}" th:text="${hotel.numeHotel}">Hotel Name</a>
										</li>
										<li th:if="${hotels == null or hotels.size() == 0}">
											<a href="#">No Hotels Available</a>
										</li>
									</ul>
								</li>
								<li><a th:href="@{/services}">Services</a></li>
								<li><a class="active" th:href="@{/contact}">Contact</a></li>
							</ul>
						</nav>
					</div>
				</div>
			</header>
		</div>


	<section id="fh5co-hero" class="js-fullheight">
		<div class="owl-carousel hero-carousel">
			<div class="item" style="background-image: url('/images/imag4.jpg'); height: 100vh; background-size: cover; background-position: center;">
				<div class="overlay-gradient"></div>
				<div class="container">
					<div class="row">
						<div class="col-md-12 text-center slider-text">
							<div class="slider-text-inner">
								<h2>Discover Serenity</h2>
								<h3>Experience comfort like never before</h3>
								<p><a href="#" class="btn btn-primary">Book Now</a></p>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="item" style="background-image: url('/images/imag3.jpg'); height: 100vh; background-size: cover; background-position: center;">
				<div class="overlay-gradient"></div>
				<div class="container">
					<div class="row">
						<div class="col-md-12 text-center slider-text">
							<div class="slider-text-inner">
								<h2>Luxury Awaits</h2>
								<h3>Your dream destination is here</h3>
								<p><a href="#" class="btn btn-primary">Book Now</a></p>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="item" style="background-image: url('/images/imag2.jpg'); height: 100vh; background-size: cover; background-position: center;">
				<div class="overlay-gradient"></div>
				<div class="container">
					<div class="row">
						<div class="col-md-12 text-center slider-text">
							<div class="slider-text-inner">
								<h3>A Best Place To Enjoy Your Life</h3>
								<p><a href="#" class="btn btn-primary">Book Now</a></p>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>

		<div class="booking-section">
			<div class="container">
				<div class="row">
					<div class="col-md-3 col-sm-6">
						<div class="booking-field">
							<select class="form-control" name="hotel">
								<option value="">Select Hotel</option>
								<option th:each="hotel : ${hotels}" th:value="${hotel.idHotel}" th:text="${hotel.numeHotel}">
									Hotel Name
								</option>
							</select>
						</div>
					</div>
					<div class="col-md-3 col-sm-6">
						<div class="booking-field">
							<input type="date" class="form-control" placeholder="Check In">
						</div>
					</div>
					<div class="col-md-3 col-sm-6">
						<div class="booking-field">
							<input type="date" class="form-control" placeholder="Check Out">
						</div>
					</div>
					<div class="col-md-3 col-sm-6">
						<div class="booking-field">
							<button class="btn btn-primary btn-block">Check Availability</button>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
	<div id="featured-hotel" class="fh5co-bg-color">
			<div class="container">
				<div class="row">
					<div class="col-md-12">
						<div class="section-title text-center">
							<h2>Featured Hotels</h2>
						</div>
					</div>
				</div>
				<div class="owl-carousel">
					<div class="item" th:each="hotel : ${hotels}">
						<div class="feature-full-1col">
							<div class="image" th:style="'background-image: url(' + @{/images/} + ${hotel.image} + ');'"></div>
							<div class="desc">
								<h3 th:text="${hotel.numeHotel}">Hotel Name</h3>
								<p th:text="${hotel.description}">Description of the hotel...</p>
								<p><a href="#" class="btn btn-primary btn-luxe-primary">Book Now <i class="ti-angle-right"></i></a></p>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	<section id="hotel-facilities" class="fh5co-bg-color">
		<div class="container">
			<div class="row text-center">
				<div class="col-md-12">
					<h2 class="section-title">HOTEL FACILITIES</h2>
				</div>
			</div>

			<div class="row text-center facilities-row">

				<div class="col-md-2 col-sm-4 facility">
					<img src="images/svg/restaurant23.svg" alt="Restaurant" class="facility-icon">
					<h3>RESTAURANT</h3>
				</div>

				<div class="col-md-2 col-sm-4 facility">
					<img src="images/svg/cup74.svg" alt="Bar" class="facility-icon">
					<h3>BAR</h3>
				</div>

				<div class="col-md-2 col-sm-4 facility">
					<img src="images/svg/car72.svg" alt="Pick-Up" class="facility-icon">
					<h3>PICK-UP</h3>
				</div>

				<div class="col-md-2 col-sm-4 facility">
					<img src="images/svg/swimming21.svg" alt="Swimming Pool" class="facility-icon">
					<h3>SWIMMING POOL</h3>
				</div>

				<div class="col-md-2 col-sm-4 facility">
					<img src="images/svg/massage2.svg" alt="Spa" class="facility-icon">
					<h3>SPA</h3>
				</div>
				<div class="col-md-2 col-sm-4 facility">
					<img src="images/svg/bicycle14.svg" alt="Gym" class="facility-icon">
					<h3>GYM</h3>
				</div>
			</div>
		</div>
	</section>

</div>

<script th:src="@{/js/jquery-2.1.4.min.js}"></script>
<script th:src="@{/js/hoverIntent.js}"></script>
<script th:src="@{/js/superfish.js}"></script>
<script th:src="@{/js/bootstrap.min.js}"></script>
<script th:src="@{/js/jquery.waypoints.min.js}"></script>
<script th:src="@{/js/jquery.countTo.js}"></script>
<script th:src="@{/js/jquery.stellar.min.js}"></script>
<script th:src="@{/js/bootstrap-datepicker.min.js}"></script>

<link th:href="@{/css/owl.carousel.css}" rel="stylesheet">
<link th:href="@{/css/owl.theme.default.min.css}" rel="stylesheet">

<script th:src="@{/js/owl.carousel.min.js}"></script>
<script>
	$(document).ready(function() {
        // Owl Carousel pentru Hero Slider
        $(".hero-carousel").owlCarousel({
            loop: true,
            margin: 0,
            nav: true,
            dots: true,
            items: 1,
            autoplay: true,
            autoplayTimeout: 5000,
            navText: ["<i class='icon-chevron-left'></i>", "<i class='icon-chevron-right'></i>"]
        });

        // Owl Carousel pentru Featured Hotels
        $(".owl-carousel:not(.hero-carousel)").owlCarousel({
            loop: true,
            margin: 20,
            nav: true,
            dots: true,
            items: 1
        });
    });
</script>

</body>
</html>